# Desafio (Parte 1) - Construção do Dataset

## Case baseado no desafio do Kaggle: "Instacart Market Basket Analysis"

Esse desafio é baseado em uma competição do Kaggle ([https://www.kaggle.com](https://www.kaggle.com)) de 2017, onde é pedido para fazer a predição de se um produto será comprado por dado usuário no carrinho atual, baseado em suas compras anteriores.

Não está no escopo da aula 



Link para o desafio: [https://www.kaggle.com/c/instacart-market-basket-analysis](https://www.kaggle.com/c/instacart-market-basket-analysis)

## Origem dos Dados:

Os dados mostrados nesse desafio são uma amostra extraída do dataset disponibilizado gratuitamente pela empresa Instacart ([https://www.instacart.com/](https://www.instacart.com/)) **\***. São dados reais do banco de dados da empresa, que foram anonimizados para o uso por pesquisadores e em competições de Data Science.

 
###### * “The Instacart Online Grocery Shopping Dataset 2017”, Accessed from [https://www.instacart.com/datasets/grocery-shopping-2017](https://www.instacart.com/datasets/grocery-shopping-2017) on March 10, 2017.

## Tabelas e Colunas Importantes

As Tabelas e suas respectivas colunas estão mostradas abaixo, junto com a descrição do significado de cada coluna:

* Colunas da Tabela `orders`:

    * ´order_id´: order identifier
    * ´user_id´: customer identifier
    * ´eval_set´: which evaluation set this order belongs in (see SET described below)
    * ´order_number´: the order sequence number for this user (1 = first, n = nth)
    * ´order_dow´: the day of the week the order was placed on
    * ´order_hour_of_day´: the hour of the day the order was placed on
    * ´days_since_prior´: days since the last order, capped at 30 (with NAs for order_number = 1)
    
* Colunas da Tabela `products (50k rows):

    * ´product_id´: product identifier
    * ´product_name´: name of the product
    * ´aisle_id´: foreign key
    * ´department_id´: foreign key

* Colunas da Tabela `aisles (134 rows):

    * ´aisle_id´: aisle identifier
    * ´aisle´: the name of the aisle

* Colunas da Tabela `deptartments (21 rows):

    * ´department_id´: department identifier
    * ´department´: the name of the department

* Colunas da Tabela `order_products__SET (30m+ rows):

    * ´order_id´: foreign key
    * ´product_id´: foreign key
    * ´add_to_cart_order´: order in which each product was added to cart
    * ´reordered´: 1 if this product has been ordered by this user in the past, 0 otherwise

___

# Imports

In [1]:
import os
import pandas as pd

___

# Objetivo:

Construir um **dataset** a partir de tabelas de diferentes formatos contidas em arquivos separados.

# Arquivos das Tabelas

## Arquivos de Referência

In [2]:
input_file = {
    "aisles": os.path.join("data", "aisles.csv"),
    "departments": os.path.join("data", "departments.csv"),
    "order_products": os.path.join("data", "order_products.csv"),
    "orders": os.path.join("data", "orders.csv"),
    "products": os.path.join("data", "products.csv")
}

## Arquivo de Resposta

In [3]:
output_file = os.path.join("data", "dataset.csv")

# O Dataset

Referência: 
* "The Instacart Online Grocery Shopping Dataset 2017”, Accessed from https://www.instacart.com/datasets/grocery-shopping-2017 on October 20, 2017.
* Descrição dos Campos: <a href="https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b" target=_blank> https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b </a>

## Leitura dos Arquivos
* sep = ',' para todos os arquivos
* o nome da variável deverá ser o mesmo do dicionário. Exemplo: 
```
aisles = pd.read_csv(input_file["aisles"])
```
* carregar do aqrquivo apenas as colunas especificadas em cada item

###  `orders`
* colunas: 
    * order_id
    * user_id
    * order_dow
* sep: ','

In [4]:
orders = pd.read_csv(
    input_file["orders"],
    usecols=["order_id", "user_id", "order_dow"]
)

In [5]:
orders.head()

   order_id  user_id  order_dow
0   2539329        1          2
1   2398795        1          3
2    473747        1          3
3   2254736        1          4
4    431534        1          4

### `products`
* colunas: 
    * product_id
    * product_name
    * aisle_id
    * department_id
 * sep: ','

In [6]:
products = pd.read_csv(
    input_file["products"], 
    usecols=["product_id", "product_name", "aisle_id", "department_id"]
)
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

###  `aisles`
* colunas: 
    * aisle_id
    * aisle
* sep: ','

In [7]:
aisles = pd.read_csv(
    input_file["aisles"], 
    usecols=["aisle_id", "aisle"]
)
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### `departments`
* colunas: 
    * department_id
    * department
* sep: ','

In [8]:
departments = pd.read_csv(
    input_file["departments"], 
    usecols=["department_id", "department"]
)
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### `order_products`
* colunas:
    * order_id
    * product_id
* sep: ','

In [9]:
order_products = pd.read_csv(
    input_file["order_products"],
    usecols=["order_id", "product_id"]
)
order_products.head()

   order_id  product_id
0         1       49302
1         1       11109
2         1       10246
3         1       49683
4         1       43633

## Juntando as Peças
* Junte todos os DataFrames usando os métodos apropriados
* O dataset final deve conter apenas as seguintes colunas:
    * order_id
    * user_id
    * order_dow
    * department
    * aisle
    * product_name

In [10]:
dataset = pd.merge(
    orders,
    order_products,
    on="order_id"
)
dataset = pd.merge(
    dataset,
    products,
    on="product_id"
)
dataset = pd.merge(
    dataset,
    departments,
    on="department_id"
)
dataset = pd.merge(
    dataset,
    aisles,
    on="aisle_id"
)
dataset = dataset[[
    "order_id", "user_id", "order_dow", 
    "product_name", "aisle", "department"
]]
dataset = dataset.dropna()

In [11]:
dataset.head()

   order_id  user_id  order_dow product_name        aisle department
0   1187899        1          4         Soda  soft drinks  beverages
1   2757217       67          0         Soda  soft drinks  beverages
2    632715      676          0         Soda  soft drinks  beverages
3   1167274      760          4         Soda  soft drinks  beverages
4   3347074      804          3         Soda  soft drinks  beverages

## Visualização do Dataset

In [12]:
dataset.head(7)

   order_id  user_id  order_dow product_name        aisle department
0   1187899        1          4         Soda  soft drinks  beverages
1   2757217       67          0         Soda  soft drinks  beverages
2    632715      676          0         Soda  soft drinks  beverages
3   1167274      760          4         Soda  soft drinks  beverages
4   3347074      804          3         Soda  soft drinks  beverages
5    692135      865          5         Soda  soft drinks  beverages
6   3289231      992          5         Soda  soft drinks  beverages

In [13]:
dataset.tail(3)

,order_id,user_id,order_dow,product_name,aisle,department
1238342,2023864,182948,1,Organic Vibrant Probiotic Fruit Juice,missing,missing
1238343,1154859,183107,4,Natural Choice Uncured Pepperoni,missing,missing
1238344,2211628,183587,1,Natural Uncured Bacon Pork Sticks,missing,missing

## Salvando o Dataset

In [14]:
dataset.to_csv(output_file, sep=",", encoding="utf-8")